* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bierman-topology {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.white {
    color: white;
}

span.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.n-topology.n-topology-blue {
    background: #ffffff;
}

.n-topology-nav-setting-icon {
    display:none;
}


.md-dialog-container.ng-scope {
    z-index: 10000000;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.w70 {
    width: 70%;
}

.md-subheader-inner {
    padding-left: 0 !important;
}

md-toolbar.white {
    color: #fff !important;
}

.add-channel md-input-container {
    margin: 0 !important;
}

.channel-info {
    padding: 5px 0px 5px 0px;
}

.topology-info {
    padding: 10px 5px 10px 24px;
}

.bier-info {
    padding: 20px 5px 10px 24px;
}

.channel-actions {
    padding: 5px 0px 5px 0px;
}

.topology-actions {
    padding: 10px 24px 10px 55px;
}

.menu-button {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

md-list-item {
    padding: 0px 10px 0px 10px !important;
}

.center-button-outer {
    text-align: center;
}

.center-button-inner {
    display: inline-block;
}

.fmask-result {
    padding-top: 15px;
}

.info-icon {
    color: #2196f3;
}

.toolbar {
    background: #000 !important;
}

.toolbar-gray {
    background: #666666 !important;
}

.product-label {
    margin: auto 16px auto 10px;
    font-weight: bold;
}

/* Fix for conflicts with Angular Material */
.sweet-alert {
    z-index: 10000005 !important;
}

.sweet-overlay {
    z-index: 10000004 !important;
}

.path-item:hover {
    background: #d8e6f3;
    cursor: pointer;
}

/* No select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Floating */
.align-left {
    float: left;
}

.align-right{
    float: right;
}

.clear {
    clear: both;
}

.text-success, .text-error {
    font: normal 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #009b00;
}

.text-error {
    color: #9b0000;
}

.sidenav-border {
    border-left: solid #000 1px;
}

.sidenav-with {
    width: 320px;
}

.button-enlarged {
    font-size: 16px;
    padding: 10px;
}

div:focus, span:focus {
    outline: none;
    border: 0;
}

.nextLink,.prevLink{
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    border: solid 1px #aaa;
    color: #999;
    padding: 0 9px;
    margin: 0 0 0 5px;
    list-style: none;
    background: #f2f2f2;
    float: left;
    cursor: pointer;
}

a.prevLink:hover,a.nextLink:hover {
    background: #aaa !important;
    color: #fff !important;
    cursor: pointer;
}

.step {
    display: block;
    line-height: 24px;
    height: 24px;
    border: solid 1px #aaa;
    color: #999;
    background: #fff;
    padding: 0 9px;
    font-size: 12px;
    float: left;
    margin: 0 0 0 5px;
    list-style: none;
    cursor: pointer;
 }


.currentStep{
       border-color: #fff;
       padding: 0 4px;
       color: #f90;
       font-weight: bold;
       float: left;
       display: block;
       line-height: 24px;
       height: 24px;
       padding: 0 9px;
       font-size: 12px;
       float: left;
       margin: 0 0 0 5px;
       list-style: none;
       cursor: pointer;
 }

.inside-next {
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px 20px 20px 40px;
    color: #464646;
    z-index: 10;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.min-width {
    min-width: 70px !important;
    margin: 6px 1px !important;
}

md-dialog md-dialog-content h2,
md-dialog md-dialog-content h3,
md-dialog md-dialog-content .md-raised span {
    color: white;
}

md-dialog md-dialog-content .md-primary span {
    color: dodgerblue;
}

md-dialog md-dialog-content .md-warn span {
    color: orangered;
}

md-dialog md-dialog-content .md-warn:disabled span,
md-dialog md-dialog-content .md-primary:disabled span {
    color: rgb(0, 0, 0, 0.38);
}

.padding-left {
    padding-left: 20px;
}

div.popUpDevInfo {
    position: absolute;
    width: 14%;
    left: 60px;
    top: 120px;
    z-index: 1;
    background: #f5f5f5;
    border: 1px solid #74757a;
    padding: 20px;
    border-radius: 4px;
}

.list-click:hover,
.list-click:focus {
    color: #3ea8eb;
    text-decoration: none;
}

.selected {
    color: #3ea8eb;
}

section.legendBox{
    position: absolute !important;
    right: 0;
    top: 100px;
    z-index: 1;
    width: 200px;
}

section.legendBox ul li {
    list-style-type: none;
}

section.legendBox ul .line {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin: 9px 5px 0 0;
    width: 50px;
}

section.legendBox ul .circle {
    display: -moz-inline-stack;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0px 23px 0px 17px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

section.legendBox ul .circle.red {
    background-color:#FF3366;
}

section.legendBox ul .circle.black {
    background-color:#000000;
}

section.legendBox ul .line.green {
    border-top: 3px solid #009933;
}

section.legendBox ul .line.blue {
    border-top: 3px solid #0033cc;
}


/* Modal window */
